@charset "UTF-8";

div.bloco{
    background-image: url("imagens/back-tablet.jpg");
    height: 170px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 15px;
}

div#q1{
    background-position: left top;
}

div#q2{
    background-position: left center;
}

div#q3{
    background-position: right bottom;
}

div#q4{
    background-position: center center;
}